table{margin:0px auto;
        text-align:left;
		padding: 15px;
		background-color: #b3d1ff;
        width: 80%;

	}
	#menu{
	text-align: right;
	}
    .gender{
        color: chartreuse;
    }
    #Vyber{
       position: relative;  background-color: #b3d1ff; width: 80%;
       margin: auto; padding-top: 10px; padding-bottom: 10px;
       padding-left: 12px;
    }
    ul {
    list-style-image: url('images/darthvader.png');
}
    .round {
        border: 2px solid blue;
        border-radius: 10px;
        border-top-left-radius: 25px; 
        border-bottom-right-radius: 25px;
        box-shadow: 10px 10px;
    }